.jumbotron {
  background-color: #5df200;
  color: #f00000;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fffb00;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0%;
}
.footer-address-icon {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.tab-content {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
