@yellow:  #fffb00;
@red: #f00000;
@green: #5df200;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
    margin-top: @top;
    margin-right: @right;
    margin-bottom: @bottom;
    margin-left: @left;
}

.jumbotron {
    background-color: @green;
    color: @red;
    .margenes(50px, 0px);
}

footer {
    .padding(10px, 10px, 0px, 10px);
    background-color: @yellow;
    .margenes(10px,0px);
}

.card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon{
    .padding(0px, 10px, 0px, 0px);
}

.tab-content{
    .padding(10px);
}