$yellow:  #fffb00;
$red: #f00000;
$green: #5df200;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($padding-top, $paddin-right, $padding-bottom, $padding-left){
    padding-top: $padding-top;
    padding-right: $paddin-right;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 35px);
}

footer {
    @include padding(10px, 10px, 0px, 10px);
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon{
    @include padding(0px, 10px, 0px, 0px);
}

.tab-content{
    @include padding(10px, 0px, 0px, 0px);
}

